<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <tite>CrowdSketch</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  </head>

  <body>
    <header>
      <nav>
        <a href="/sketches/new">Add your own Sketch!</a>
      </nav>
    </header>
  </body>

  <div id="main">
    <ul class="sketches">
      <% @sketches.each do |sketch| %>

        <li><img src=<%= sketch[:url] %>></li>
        <details>
          Title: <%= sketch[:title]%>
          Created by: <%= sketch[:author] %>
          Created: <%= sketch[:created_at] %>
        </details>
      <% end %>
    </ul>
  </div>

  <footer>
  </footer>

</html>
