html, body {
  padding: 0px;
  margin: 0px;
  background-color: black;
}

body {
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  min-width: 900px;
}

#main {
  background-color: black;
  position: relative;
  top: 70px;
  bottom: 0px;
}

details {
  background-color: rgba(255, 255, 255, 0.13);
}

header {
  position: absolute;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
}

nav {
  padding-left: 20px;
}
.plus {
  margin-right: 30px;
  font-size: 50px;
}
.github {
  margin-right: 30px;
  font-size: 50px;
}

.sketches {
  margin: 0px;
  padding: 30px 10px;
}

.sketch-item {
  list-style: none;
  width: 80px;
  height: 80px;
  margin: 0 10px 10px 0;
  display: inline-table;
}

.container {
  width: 100%;
}

.main {
  position: relative;
  top: 70px;
}

img {
  background-color: white;
}

.canvas-container {
  margin-top: 30px;
}

canvas {
  background-color: white;
  z-index: 10001;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#controls {
  min-width: 450px;
  margin: auto;
  text-align: center;
}

ul.colors {
  height: 100%;
}

ul.colors li {
  list-style: none;
  margin: 0 20px 20px 0;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  display: inline-block;
  box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.24);
}

ul.colors li:hover {
  cursor: pointer;
}

.selected {
  border: 12px solid rgba(255, 255, 255, 0.65);
  box-shadow: 0px 3px 10px 4px rgba(255, 255, 255, 0.40);
}

#stroke {
  margin: 30px auto;
  width: 75%;
}

li.red {
  background-color: #fb3e41;
}

li.blue {
  background-color: #2e82ff;
}

li.yellow {
  background-color: #fcff6a;
}

.revealColorSelect {
  position: absolute;
  font-size: 32px;
  left: 98%;
  top: 130%;
  margin-left: -60px;
  transition: left 350ms ease-in;
}

.colorSelect {
  position: absolute;
  left: 113%;
  width: 75%;
  transition: left 350ms ease-in;
  margin-top: 50px;
  z-index: 100;
}

.on {
  left: 12%;
}

.shown {
  left: 25%;
}

.sliders {
  width: 75%;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 20px;
  margin: 0;
  border: none;
  padding: 1px 2px;
  border-radius: 14px;
  background: #232528;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #529de1), color-stop(100%, #245e8f)); /* android <= 2.2 */
  background-image: -webkit-linear-gradient(top , #529de1 0, #245e8f 100%); /* older mobile safari and android > 2.2 */
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%); /* W3C */
}

.newColor {
  margin: 30px;
  height: 120px;
  width: 120px;
  background-color: black;
  box-shadow: 0px 0px 3px 5px rgba(255, 255, 255, 0.31);
  border-radius: 100%;
}

.save {
  position: fixed;
  bottom: -135px;
  width: 40%;
  transition: bottom 350ms linear;
}

.up {
  bottom: 10px;
}

.save-button {
  /*position: relative;
  left: 50%;
  margin-left: -13.5px;*/
}

.save-icon:hover {
  cursor: pointer;
}

.save-icon {
  font-size: 32px;
}
